<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tilismtech.tellotalk_shopping_sdk">

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.tilismtech.tellotalk_shopping_sdk.ui.settingprofileediting.SettingProfileEditingActivity"></activity>
        <activity
            android:name="com.tilismtech.tellotalk_shopping_sdk.ui.shoplandingpage.ShopLandingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.tilismtech.tellotalk_shopping_sdk.ui.ShopRegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>